

a.solid-btn.lesson {
    background-image: url(/cursos_basicos_web/assets/icons/book.svg);
    padding-left: 35px;
  } 
  a.solid-btn-sm {
    width: 85px;
  }
  a.video {
    background-image: url(/cursos_basicos_web/assets/icons/youtube.svg);
    padding-left: 35px;
  }
  
  a.file {
    background-image: url(/cursos_basicos_web/assets/icons/file-earmark-arrow-down.svg);
    padding-left: 35px;
  }